# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [2]:
import pandas as pd
pandas.__version__

'1.4.4'

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [3]:
count=pd.Series([1,2,3,4])
count

0    1
1    2
2    3
3    4
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [4]:
count.values

array([1, 2, 3, 4], dtype=int64)

In [6]:
count.index

RangeIndex(start=0, stop=4, step=1)

We can assign meaningful labels to the index, if they are available:

In [7]:
bag=pd.Series([632,459,999,1498],index=['Puma','Fastrack','American Tourister','wildcraft'])

These labels can be used to refer to the values in the `Series`.

In [10]:
bag['Puma']

632

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [11]:
bag[0]

632

We can give both the array of values and the index meaningful labels themselves:

In [13]:
bag.name='bags'
bag.index.name='brand'
bag

brand
Puma                   632
Fastrack               459
American Tourister     999
wildcraft             1498
Name: bags, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [15]:
import numpy as np
np.log(bag)

brand
Puma                  6.448889
Fastrack              6.129050
American Tourister    6.906755
wildcraft             7.311886
Name: bags, dtype: float64

We can also filter according to the values in the `Series`:

In [16]:
bag[bag>1000]

brand
wildcraft    1498
Name: bags, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [17]:
bag_dict={'Puma':1400,'AmericanTourister':599,'Wildcraft':999}
print(bag_dict)
print(pd.Series(bag_dict))

{'Puma': 1400, 'AmericanTourister': 599, 'Wildcraft': 999}
Puma                 1400
AmericanTourister     599
Wildcraft             999
dtype: int64

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [18]:
data ={"Province":['Fl','FM','FN','FO'],
      "Year":[2013,2014,2015,2016],
      "Literacy":[0.2,0.4,0.6,0.79]}
print(data)
data=pd.DataFrame(data)
print(data)

{'Province': ['Fl', 'FM', 'FN', 'FO'], 'Year': [2013, 2014, 2015, 2016], 'Literacy': [0.2, 0.4, 0.6, 0.79]}
  Province  Year  Literacy
0       Fl  2013      0.20
1       FM  2014      0.40
2       FN  2015      0.60
3       FO  2016      0.79

To change the order of the columns:

In [26]:
df=pd.DataFrame(data,columns=["Year","Province","Literacy"])
print(df)

   Year Province  Literacy
0  2013       Fl      0.20
1  2014       FM      0.40
2  2015       FN      0.60
3  2016       FO      0.79

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [24]:
df['ratio']=df.Year/df.Literacy
df

   Year Province  Literacy         ratio
0  2013       Fl      0.20  10065.000000
1  2014       FM      0.40   5035.000000
2  2015       FN      0.60   3358.333333
3  2016       FO      0.79   2551.898734

In [25]:
df['Series_aligned']=pd.Series(range(5),index=[0,1,2,3,4])
df

   Year Province  Literacy         ratio  Series_aligned
0  2013       Fl      0.20  10065.000000               0
1  2014       FM      0.40   5035.000000               1
2  2015       FN      0.60   3358.333333               2
3  2016       FO      0.79   2551.898734               3

Passing a dicts where the values are dicts is also possible

In [28]:
df.to_dict()

{'Year': {0: 2013, 1: 2014, 2: 2015, 3: 2016},
 'Province': {0: 'Fl', 1: 'FM', 2: 'FN', 3: 'FO'},
 'Literacy': {0: 0.2, 1: 0.4, 2: 0.6, 3: 0.79}}

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [30]:
data=[{'a':i,'b':10*i}for i in range(6)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 10}, {'a': 2, 'b': 20}, {'a': 3, 'b': 30}, {'a': 4, 'b': 40}, {'a': 5, 'b': 50}]

   a   b
0  0   0
1  1  10
2  2  20
3  3  30
4  4  40
5  5  50

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [36]:
data=np.arange(10).reshape(2,5)
dp=pd.DataFrame(data)
print(dp)
dp1=pd.DataFrame(dp,index=['one','two','three'])
dp1

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

        0   1   2   3   4
one   NaN NaN NaN NaN NaN
two   NaN NaN NaN NaN NaN
three NaN NaN NaN NaN NaN

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [40]:
data=np.arange(10).reshape(2,5)
dp=pd.DataFrame(data,columns=['zero','one','one','one','one'])
print(dp)
dp1=pd.DataFrame(dp,index=['one','two','three'])
dp1

   zero  one  one  one  one
0     0    1    2    3    4
1     5    6    7    8    9

       zero  one  one  one  one
one     NaN  NaN  NaN  NaN  NaN
two     NaN  NaN  NaN  NaN  NaN
three   NaN  NaN  NaN  NaN  NaN

In [47]:
pd.DataFrame(np.random.randint(2,12),
            columns=['foo','bar'],
            index=['a','b','c'])

   foo  bar
a    5    5
b    5    5
c    5    5

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you take reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [45]:
ind=pd.Index([20,34,57,7,1,8])
print(ind)

Int64Index([20, 34, 57, 7, 1, 8], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [48]:
ind[1]

34

In [49]:
ind[::]

Int64Index([20, 34, 57, 7, 1, 8], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [50]:
print(ind.size,ind.ndim,ind.dtype)

6 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via normal means:

In [51]:
ind[0]=1

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [56]:
rng=np.random.RandomState(15)
rng
ser=pd.Series(rng.randint(0,10,4))
ser

0    8
1    5
2    5
3    7
dtype: int32

In [60]:
dfr=pd.DataFrame(rng.randint(0,10,(5,4)),columns=['A','B','C','D'])
dfr

   A  B  C  D
0  2  1  8  5
1  6  9  2  8
2  6  8  8  3
3  4  7  2  0
4  5  7  3  8

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [61]:
np.exp(ser)

0    2980.957987
1     148.413159
2     148.413159
3    1096.633158
dtype: float64

Or, for a slightly more complex calculation:

In [62]:
np.sin(dfr*np.pi/4)

              A             B             C             D
0  1.000000e+00  7.071068e-01 -2.449294e-16 -7.071068e-01
1 -1.000000e+00  7.071068e-01  1.000000e+00 -2.449294e-16
2 -1.000000e+00 -2.449294e-16 -2.449294e-16  7.071068e-01
3  1.224647e-16 -7.071068e-01  1.000000e+00  0.000000e+00
4 -7.071068e-01 -7.071068e-01  7.071068e-01 -2.449294e-16

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [67]:
Area=pd.Series({'Alaska':172337,'Texas':2001011,'California':4237789},name='Area')
Population=pd.Series({'Alaska':20339928,'Texas':287362722,'California':1827653789},name='population')
print(Area)
Population

Alaska         172337
Texas         2001011
California    4237789
Name: Area, dtype: int64

Alaska          20339928
Texas          287362722
California    1827653789
Name: population, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [70]:
ratio=pd.Series(Population/Area)
ratio

Alaska        118.024150
Texas         143.608767
California    431.275316
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [72]:
Area.index|Population.index

C:\Users\Vishnu Prasad\AppData\Local\Temp\ipykernel_2716\1530042887.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  Area.index|Population.index

Index(['Alaska', 'Texas', 'California'], dtype='object')

In [76]:
a=pd.Series([1,2,3],index=[0,1,2])
b=pd.Series([5,6,7],index=[3,1,2])
print(a)
print(b)
a=a+b
a

0    1
1    2
2    3
dtype: int64
3    5
1    6
2    7
dtype: int64

0     NaN
1     8.0
2    10.0
3     NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [77]:
a.add(b,fill_value=0)

0     NaN
1    14.0
2    17.0
3     5.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

# Data wrangling
Getting the data in the shape that we want is the single most time consuming task in the life of the Data Scientist. Sometimes it can be the most frustrating.

## Merge operations
By merging we mean combining different data sets by linking rows with one or more keys. The basic syntax is very simple.

In [78]:
df

   Year Province  Literacy
0  2013       Fl      0.20
1  2014       FM      0.40
2  2015       FN      0.60
3  2016       FO      0.79

In [82]:
df2=pd.DataFrame({'Province':['FO','FM','FN'],'Population':['12723623','1236444','1236468']})
df2

  Province Population
0       FO   12723623
1       FM    1236444
2       FN    1236468

Let's say we want a dataset with year, literacy, province and population. We can create it from `df` and `df2`.

In [87]:
  # merge is smart! If there are overlapping names, it uses those for the merge
abc=df.merge(df2)
abc

   Year Province  Literacy Population
0  2014       FM      0.40    1236444
1  2015       FN      0.60    1236468
2  2016       FO      0.79   12723623

If the column names are different, you need to specify them explicitely

In [91]:
df3=pd.DataFrame({'province':['FO','FM','FN'],'Population':['1273623','12444','16468']})
df.merge(df3,right_on='province',left_on='Province')

   Year Province  Literacy province Population
0  2014       FM      0.40       FM      12444
1  2015       FN      0.60       FN      16468
2  2016       FO      0.79       FO    1273623

What happened? Zuid Holland is weg!

By default `merge` does inner joins. If you want a different type of join, you can specify it.

In [93]:
df.merge(df2,how='outer')

   Year Province  Literacy Population
0  2013       Fl      0.20        NaN
1  2014       FM      0.40    1236444
2  2015       FN      0.60    1236468
3  2016       FO      0.79   12723623

Check this out:

This was a many-to-many merge. Even though if you think about it, the behavior is what you expect, you might still not think about it and be surprised!

### Combining data with overlap
Sometimes some data is missing, and it can be "patched" with another dataset. Let's take a look.

In [95]:
ser_a=pd.Series([np.nan,2.5,np.nan,4.6],index=['f','e','d','c'])
ser_b=pd.Series(np.arange(len(ser_a),dtype=np.float64),index=['f','e','d','c'])

In [100]:
print(ser_a)

f    NaN
e    2.5
d    NaN
c    4.6
dtype: float64

In [101]:
print(ser_b)

f    0.0
e    1.0
d    2.0
c    3.0
dtype: float64

Let's say we want to update `a` with the values from `b`. The num-pythonic way to do that is

In [99]:
pd.Series(np.where(pd.isnull(ser_a),ser_b,ser_a),index=ser_a.index)

f    0.0
e    2.5
d    2.0
c    4.6
dtype: float64

That's a bit verbose for something so simple. What about this:

In [102]:
ser_a.combine_first(ser_b)

f    0.0
e    2.5
d    2.0
c    4.6
dtype: float64